@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url("fonts/helvetica-1-webfont.woff");
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(217,125,125,1) 0%, rgba(237,193,155,1) 100%); */
    background: rgb(133,125,217);
    background: linear-gradient(45deg, rgba(126, 98, 151, 0.884) 0%, #AFD1D9 100%); 
    /* background: rgb(133,125,217);
    background: linear-gradient(90deg, #7a8b99 0%, #a9ddd6 100%); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio {
    height: 100vh;
}

#header {
    top: 0;
    width: 100vw;
    position: fixed;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.5s;
}

#logo {
    height: min-content;
    font-size: 2rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    font-family: 'Rationale';
    background-color: white;
    transition: 0.5s;
}

#header ul {
    list-style: none;
    float: right;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    padding: 0 2rem;
    height: 100%;
}

#header ul li:hover {
    background: white;
    color: black !important;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.aba-selected {
    background: white;
    transition: 0.5s ease-in-out;
}

.particles-js-canvas-el {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.inicio-flex {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#inicio-texto {
    width: 50vw;
    text-align: left;
}

#inicio-texto p {
    margin: 23vh 1rem;
    font-family: 'Helvetica';
    font-size: 9rem;
    color: white;
}

#inicio-img {
    width: 100%;
    height: 100%;
}

#inicio-img img {
    height: 20rem;
}

#img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#sobre-flex {
    width: 100%;
    display: flex;
}

#sobre-branco {
    background: white;
    width: 100%;
    margin-left: 2rem;
    padding: 2rem 0rem;
    text-align: center;
}

.sobre__descricao {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    margin: 1rem 2rem;
}

.sobre__title {
    text-align: left;
    margin-top: 5rem;
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #005FB7;
}

.tecnologias-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem;
}

.tecnologias-container img {
    height: 5rem;
}

.tecnologias-container p {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 5rem;
    margin-left: 1rem;
}

.softskills-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem;
}

.softskills-container img {
    height: 4rem;
}

.d-column {
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: left;
}

.d-column h3 {
    font-family: 'Montserrat';
    color: #181818;
}

.d-column p {
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #5c5c5c;
}

#sobre-projetos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sobre-label {
    width: 100%;    
    height: 100%;
}

#label__img-container {
    margin-top: 20rem;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#sobre-label img {
    height: 40rem;
}

.projeto-card {
    /* color: rgb(0, 99, 112); */
    background: #fff;
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 1px rgb(168, 168, 168);
}

.card__titulo {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #5c5c5c;
    text-align: left;
    padding: 1rem 2rem;
}

.card__descricao {
    font-family: 'Montserrat';
    color: #575757;
    text-align: left;
    padding: 2rem 2rem;
}

#foda {
    transition: 0.5s;
    background: white;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#contato {  
    width: 200vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    transition: 1s;
}

#contato-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 3rem;
}

#contato-containerB {
    width: 100vw;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: row;
}

#contato-containerB input {
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

#mensagem {
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

#campos {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

#campos p {
    font-family: 'Montserrat';
    margin: 0 1rem;
    margin-top: 1rem;
}

#campos button {
    width: 20rem;
    background-color: #005FB7;
    color: white;
    margin: 0 auto;
    padding: 1rem 1rem;
    font-family: 'Rationale';
    font-size: 1.5rem;
    border-radius: 15px;
    border: 0px;
    transition: 0.5s;
}

#campos button:hover {
    transform: scale(1.05);
}

#teste {
    flex: 2;
}

#c-getdown {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#c-getdown a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
    color: black;
}

#c-getdown img {
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}

#c-getdown:hover {
    cursor: pointer;
}

#contato-titulo {
    font-family: 'Helvetica';
    font-size: 4rem;
    padding: 1rem 1rem;
}

#teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contato-link {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    margin-top: 2rem;
}

#contato-separador {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#separador-redes {
    width: 50vw;
}

#separador-button {
    width: 50vw;
    background: rebeccapurple;
}

#separadorA {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    float: left;

}

#orcament-see {
    background-color: rgb(26, 26, 26);
    color: white;
    margin-top: 3rem;
    border-radius: 10px;
    border: 0px;
    padding: 2rem 2rem;
    font-family: 'Helvetica';
    font-size: 2rem;
    transition: 0.5s;
}

#orcament-see:hover {
    transform: scale(1.1);
}

#contato-link a {
    text-decoration: none;
    color: yellowgreen;
    background-color: black;
    box-shadow: 10px 10px 0px 0px grey;
    padding: 1rem 1rem;
    transition: 0.5s;
}

#contato-link a:hover {
    color: white;
    box-shadow: 5px 5px 0px 0px grey;
}

#minhas-redes {
    display: none;
    height: 100vh;
    background: rgb(0, 170, 255);
    background-image: url("../imgs/mapa50.png");
    background-size: cover;
}

#minhas-redes--titulo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3rem;
    color: white;
    padding-top: 10rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#minhas-redes--lista {
    margin-left: 2rem;
    list-style: none;
    display: block;
}

#minhas-redes--lista li {
    margin: 1.5rem 0rem;
    display: flex;
}

#minhas-redes--lista li:hover {
    text-decoration: underline;
}

#minhas-redes--lista img {
    margin: 0rem 1rem;
    height: 2rem;
}

.b-divider {
    width: 25vw;
    height: 2px;
    background-color: black;
    margin: 2rem 3rem;
}

@media only screen and (min-width: 480px) {
     
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 768px) {
    #inicio-img {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    html {
        font-size: 12px;
    }
    
    #inicio-img {
        display: block;
    }

    #inicio-texto p {
        margin: 23vh 1rem;
        font-family: 'Helvetica';
        font-size: 8rem;
        color: white;
    }
}

@media only screen and (min-width: 1200 px) {
    html { 
        font-size: 14px;
    }

    body {
        background-color: rebeccapurple;
    }
}

@media only screen and (min-width: 1450px) {
    html { 
        font-size: 16px;
    }
}