@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(217,125,125,1) 0%, rgba(237,193,155,1) 100%); */
    background: rgb(133,125,217);
    background: linear-gradient(90deg, rgba(133,125,217,1) 0%, rgba(155,217,237,1) 100%); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio {
    height: 100vh;
}

#header {
    top: 0;
    width: 100vw;
    position: fixed;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transition: 0.5s;
}

#logo {
    height: min-content;
    font-size: 2rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    font-family: 'Rationale';
    background-color: white;
    transition: 0.5s;
}

#header ul {
    list-style: none;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    padding: 0 2rem;
    height: 100%;
}

#header ul li:hover {
    background: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.aba-selected {
    background: white;
    transition: 0.5s ease-in-out;
}

#inicio-flex {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#inicio-texto {
    width: 50vw;
    text-align: left;
}

#inicio-texto p {
    margin: 23vh 1rem;
    font-family: 'Helvetica';
    font-size: 9rem;
    color: white;
}

#inicio-img {
    width: 100%;
    height: 100%;
}

#inicio-img img {
    height: 20rem;
}

#img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#sobre-flex {
    width: 100%;
    display: flex;
}

#sobre-branco {
    background: white;
    width: 100%;
    margin-left: 2rem;
    padding: 2rem 0rem;
    text-align: center;
}

.sobre__descricao {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    margin: 1rem 2rem;
}

.sobre__title {
    text-align: left;
    margin-top: 5rem;
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #005FB7;
}

.tecnologias-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem;
}

.tecnologias-container img {
    height: 5rem;
}

.tecnologias-container p {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 5rem;
    margin-left: 1rem;
}

#sobre-projetos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sobre-label {
    width: 100%;    
    height: 100%;
}

#label__img-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#sobre-label img {
    height: 40rem;
}

.projeto-card {
    background: #fff;
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 1px rgb(168, 168, 168);
}

.card__titulo {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #5c5c5c;
    text-align: left;
    padding: 1rem 2rem;
}

.card__descricao {
    font-family: 'Montserrat';
    color: #575757;
    text-align: left;
    padding: 2rem 2rem;
}

#contato {  
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    transition: 1s;
}

#contato-titulo {
    font-family: 'Helvetica';
    font-size: 4rem;
    padding-top: 35vh;
}

#contato-container {
    width: 50vw;
    margin: 0rem 3rem;
}

#contato-tituloB {
    font-family: 'Helvetica';
    font-size: 3.5rem;
    margin-top: 5rem;
}

#contato-redes {
    margin: 1rem 1rem;
    height: 3rem;
}

#contato-redes li {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 2rem;
}

#contato-redes li img {
    height: 2rem;
    margin-right: 10px;
}

#contato-redes li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#contato-redes li a:hover {
    color: rgb(0, 79, 153);
}
    
@media only screen and (min-width: 480px) {
     
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 768px) {
    #inicio-img {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    html {
        font-size: 12px;
    }
    
    #inicio-img {
        display: block;
    }

    #inicio-texto p {
        margin: 23vh 1rem;
        font-family: 'Helvetica';
        font-size: 8rem;
        color: white;
    }
}

@media only screen and (min-width: 1200 px) {
    html { 
        font-size: 14px;
    }
}

@media only screen and (min-width: 1450px) {
    html { 
        font-size: 16px;
    }
}