@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url("fonts/helvetica-1-webfont.woff");
}

@font-face {
    font-family: 'Brandon Text';
    src: url("fonts/brandontext/HVD\ Fonts\ -\ BrandonText-Medium.woff");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imgs/background-produto.png");
}

#header {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 100;
}

#header ul {
    margin: 0 auto;
    list-style: none;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header  ul li {
    background: white;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #181818;
    padding: 0 2rem;
    height: 100%;
}

#header ul li:hover {
    background: #181818;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#logo {
    height: min-content;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    margin: 0 0.5rem;
    font-family: 'Rationale';
    background-color: white;
    transition: 0.5s;
}

.aba-selected {
    background: white;
    color: black !important;
    transition: 0.5s ease-in-out;
}

#bem-vindo {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#bem-vindo h1 {
    display: inline-block;
    font-family: 'Brandon Text';
    font-weight: bold;
    font-size: 5rem;
    color: white;
    padding: 1rem 1rem;
    margin-top: 10rem;
}

#logo a {
    text-decoration: none;
    color: #181818;
}

#logo:hover {
    background: #d3d7ff;
    cursor: pointer;
}

#home {
    height: 100vh;
    background: #181818;
    text-align: center;
}

#galeria {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#galeria ul {
    display: flex;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

#galeria-container {
    width: 52em;
    height: 100%;
    box-shadow: 3px 3px 2px 0px black;
}

#galeria-container li img {
    width: 52em;
    height: 28em;
}

.seta {
    margin: auto 0;
    height: min-content;
    font-size: 5rem;
    color: white;
    background: none;
    border: none;
    border-radius: 10px;
}

.seta:hover {
    cursor: pointer;
}

.this-here {
    font-family: 'Rationale';
    font-size: 2rem;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid white;
    background: rgb(199, 199, 199);
    color: black;
    box-shadow: 3px 3px 2px 0px black;
}
/* 
.cardprojeto {
    background: white;
    font-family: 'Rationale';
    width: 20rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    box-sizing: border-box;
}

.cardprojeto a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.cardprojeto p {
    font-size: 1rem;
    margin-top: 1rem;
} */

.anim1 {
    animation: animA 0.5s 1;
}

.anim2 {
    animation: animB 0.5s 1;
}

.anim3 {
    animation: animC 0.5s 1;
}


@keyframes animA {
    35% {
        transform: skewX(2deg);
        animation-timing-function: ease-in;
    }

    50% {
        background-color: #14C79C;
    }

    70% {
        animation-timing-function: ease-in-out;
    }
}

@keyframes animB {
    35% {
        transform: skewX(2deg);
        animation-timing-function: ease-in;
    }

    50% {
        background: #683EE2;
    }

    70% {
        animation-timing-function: ease-in-out;
    }
}

@keyframes animC {
    35% {
        transform: skewX(2deg);
        animation-timing-function: ease-in;
    }

    50% {
        background-color: #E14774;
    }

    70% {
        animation-timing-function: ease-in-out;
    }
}

@media only screen and (min-width: 480px) {
     
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 768px) {
    #inicio-img {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    html {
        font-size: 12px;
    }
    
    #inicio-img {
        display: block;
    }

    #inicio-texto p {
        margin: 23vh 1rem;
        font-family: 'Helvetica';
        font-size: 8rem;
        color: white;
    }
}

@media only screen and (min-width: 1200 px) {
    html { 
        font-size: 14px;
    }
}

@media only screen and (min-width: 1450px) {
    html { 
        font-size: 16px;
    }
}