* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

ul { display: flex; margin: 0; padding: 0; overflow: hidden; }
li { display: block; list-style: none; }

#main-container {
    width: 100vw;
    height: 100vh;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.seta {
    width: 90px;
    padding: 20px;
    background-color: beige;
    border: 1px solid darkgrey;
    border-radius: 15px;
}

.kkk1 {
    animation: kka 0.5s 1;
}

.kkk2 {
    animation: kkb 0.5s 1;
}

.kkk3 {
    animation: kkc 0.5s 1;
}

@keyframes kka {
    35% {
        transform: skewX(5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-in;
    }

    50% {
        background-color: slateblue;
    }

    70% {
        transform: skewX(-5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-out;
    }
}

@keyframes kkb {
    35% {
        transform: skewX(5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-in;
    }

    50% {
        background-color: mediumspringgreen;
    }

    70% {
        transform: skewX(-5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-out;
    }
}

@keyframes kkc {
    35% {
        transform: skewX(5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-in;
    }

    50% {
        background-color: deeppink;
    }

    70% {
        transform: skewX(-5deg);
        margin-top: 5vh;
        height: 90vh;
        animation-timing-function: ease-out;
    }
}